.footer  {
  background: linear-gradient(-45deg, #4158D0 , #000000 , #C850C0 );
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    border-top: 10px solid black ;
    border-bottom: 10px solid black;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    margin-bottom: -31px;
  }
   

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  h4 {
    text-shadow: 4px 2px 2px blueviolet, 0 0 15px whitesmoke, 0 0 5px red;
    color: #000000;
  }