body
{
    background: #16BFFD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
    background-color: #1a1b1b;
    background-image: linear-gradient(160deg, #1a1b1b 0%, #336b63 100%);
    text-align: center;
    width: 100%;
    color: #000000;
    padding: 1%;
    text-shadow: 4px 2px 2px blueviolet, 0 0 15px whitesmoke, 0 0 5px red;
}

p {
    text-shadow: 4px 2px 2px blueviolet, 0 0 15px whitesmoke, 0 0 5px red;
    color: #000000;
}